/* Add styles here. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    margin: 0;
    font-family: "Josefin Sans";
    font-weight: lighter;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    overflow: hidden;
    padding: 15px 5.2rem;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.header > :first-child{
    margin-top: 50px;
    font-weight:lighter;
    color: rgb(209, 133, 0);
    font-size: 3em;
}

  .footer {
    padding: 25px;
    text-align: center;
    margin-top: 60px;
    line-height: 2;
    color: white;
    font-size: 15px;
    bottom:0;
    margin-top: auto;
  }

  .footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 1s ease-out;
  }
  .footer a:hover {
    color: rgb(255, 132, 0);
    transition: all 1.2s ease;
  }

  .header a{
    float: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 1s ease-out;
    padding: 12px;
    font-size: 30px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .header h2 {
    font-family: "League Script";
    font-size: 2.5em;
    margin: 0.8em;
    color: teal;
  }

  .header a:hover {
    color: rgb(255, 132, 0);
    margin-left: 10px;
    transition: all 1.2s ease;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  .header-right {
    float: right;
  }
  .flash-message {
    background-color: white;
    padding-top: 25px;
    text-align: center;
    font-size: 30px;
    color: green;
  }

  .content {
    color:black;
    margin: 25px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    font-size: 20px;
  }

  .campaigns {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin: 50px 40px;
    padding: 30px;
    gap: 15px;
    background: rgb(255, 255, 255);
  }


  .total-donations {
    display: flex;
    flex-direction: column;
    gap:0.8em;
  }

  .total-donations p, .total-donations i {
    color: teal;
  }

  .campaigns a, .my-donations a{
    text-decoration: none;
    color: rgb(209, 133, 0);
    transition: all 1s ease-out;
  }

  .campaigns a:hover, .my-donations a:hover{
    color: rgb(255, 132, 0);
    margin-left: 10px;
    transition: all 1.2s ease;
  }

  #all{
    padding: 20px 30px;
    font-family: "Josefin Sans";
  }

  .form-div {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1.8rem;
    margin: 50px 40px;
    padding: 30px;
    gap: 15px;
    background: rgb(255, 255, 255);
  }

.form-div form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.campaign-details {
    text-align: left;
    padding: 2.5em;
    padding-left: 3.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    list-style: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.campaign-details ul {
    list-style: none;
    line-height: 2;
    margin-top: 10px;
}

.campaign-details strong {
    font-weight: bold;
}

.campaign-details a, .user-actions a{
    text-decoration: none;
    color: rgb(209, 133, 0);
    transition: all 1s ease-out;
    font-size: 30px;
}

.campaign-details a:hover, .user-actions a:hover{
    color: rgb(255, 77, 0);
    margin-left: 10px;
    transition: all 1.2s ease;
}

#submit {
    text-decoration: none;
    color: rgb(209, 133, 0);
    background-color: white;
    font-size: 25px;
    border: 1px solid rgb(209, 133, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 1.2s ease-out;
}
#submit:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(209, 133, 0);
    font-size: 25px;
    border: 1px solid rgb(209, 133, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 1.2s ease;
}

.user-account{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding:20px;
    gap: 1.5em;
}

.my-donations{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1.8rem;
    margin: 40px 40px;
    padding: 30px;
    gap: 15px;
    font-size: 20px;
    background: rgb(255, 255, 255);
}

.my-donations h2 {
    color:rgb(209, 133, 0);
}

.user-actions{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin: 40px 40px;
    padding: 30px;
    gap: 3.5em;
    background: rgb(255, 255, 255);
}

/* form errors */
.error{
  font-style: italic;
  color: red;
  margin: 15px;
}

/* form asterix/optional tags */
span {
  color:red;
}

.donate-btn{
  font-size: 25px;
  padding-top: 10px;
}

  
@media screen and (max-width: 960px) {

    body { 
      margin: 0;
      font-family: "Josefin Sans";
      font-weight: lighter;
      background-image: url('bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }

    .header {
        overflow: hidden;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: none;
        font-weight: lighter;
        gap:0.5em;
    }
      
    .header > :last-child {
        align-self:flex-start;
        display: flex;
        flex-direction: column;
    }
    
    .header > :first-child{
        margin-top: 30px;
        margin-left: -5px;
        align-self: flex-start;
        font-weight: lighter;
        color: rgb(209, 133, 0);
        font-size: 2.5em;
    }

    .content {
        color:black;
        margin: 25px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
    }

    .user-actions{
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 8px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        margin: 40px 40px;
        padding: 30px;
        gap: 3.5em;
        background: rgb(255, 255, 255);
    }
}

   